@model IEnumerable<Kippa.Models.Lembrete>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

    <p class="createnew">
        <a asp-action="Create" style="color:white; text-decoration:none;">Criar Novo Lembrete</a>
    </p>
<div class="lembcont">
    @foreach (var item in Model) {
            <div class="lembreteitem">
                <p class="titulo">
                    @Html.DisplayFor(modelItem => item.NomeLembrete)
                </p>
                <p class="subtitulo">
                    @Html.DisplayFor(modelItem => item.DataLembrete)
                </p>
                <p class="subtitulo">
                    @Html.DisplayFor(modelItem => item.Notificacoes)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Usuario.IdUsuario)
                </p>
                <p class="edd">
                    <a class="eddlink" asp-action="Edit" asp-route-id="@item.IdLembrete" style="color:#444; text-decoration:none;">Editar</a> |
                <a class="eddlink" asp-action="Details" asp-route-id="@item.IdLembrete" style="color:#444; text-decoration:none;">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLembrete" style="color:#444; text-decoration:none;">Deletar</a>
                </p>
            </div>
    }
</div>