@model IEnumerable<Kippa.Models.Lembrete>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeLembrete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLembrete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraLembrete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notificacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeLembrete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLembrete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraLembrete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notificacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLembrete">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLembrete">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLembrete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
