@model Kippa.Models.Tarefa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTarefa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.IdUsuario)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTarefa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
