@model IEnumerable<Kippa.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>

    <div class="btnholder">
        <a href="/Tarefas/Create"> <div class="btn"> Criar </div> </a>
        @* <a href="./#"> <div class="btn"> Remover </div> </a>
        <a href="./#"> <div class="btn"> Editar </div> </a> *@
    </div>
   @*  <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Usuário
               @*  @Html.DisplayNameFor(model => model.Usuario) *@
            </th>
            <th>
                Data da Tarefa
               @*  @Html.DisplayNameFor(model => model.DataTarefa) *@
            </th>
            <th>
                Hora da tarefa
                @* @Html.DisplayNameFor(model => model.HoraTarefa) *@
            </th>
            <th> Tipo 
               @*  @Html.DisplayNameFor(model => model.TipoTarefa) *@
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.IdUsuario)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTarefa)
            </td>
           
                <td class="btnholder">
                <a asp-action="Edit" asp-route-id="@item.IdTarefa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTarefa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTarefa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
