@model Kippa.Models.Tarefas1

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarefas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.listadTarefas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.listadTarefas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datadTarefas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datadTarefas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horadTarefas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horadTarefas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipodTarefas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipodTarefas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idTarefas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
